.bamboo-sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transition: opacity 0.3s;
}

.bamboo-sidebar-bamboo {
  width: 400px;
  height: 150vh;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: -25vh;
  transform: translateX(-50%);
  z-index: 1;
  pointer-events: none;
}

.bamboo-sidebar-icons {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150vh;
  justify-content: space-around;
} 